{% extends 'base.html' %}
{% block content %}

    
<div class="container-fluid mt-3">
<div class="row">
    <!-- Filters -->
    
        <div class="col-lg-3">
          
        <div class="list-group">
          <a href="/" class="list-group-item list-group-item-action">
            All products</a>
        
            {% for categories in category%}
        <a href="/?category={{categories.id}}" class="list-group-item list-group-item-action">
         {{categories.name}}</a>
        
        {% endfor %}
        </div></div>

<!-- all products -->
     <div id="products" class="col-lg-9">
        <div class="row mx-8">
            {% for product in products %}
        <div class="card mx-auto mb-4" style="width:13rem;">
            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{ product.name }}</h6>
              <p class="card-text">{{ product.price }}</p>
              <p class="card-text">{{ product.category }}</p>
              
              
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
        {% endfor %}
        </div>
     </div>



</div>
</div>


{% endblock %}




